@(products: Set[Product])

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

@main("Products catalogue") {

	<h1>All products</h1>
	
	<dl>
	<table border="0">
		@for(product <- products){
			<tr>
				<td>
					<dt>
						<span style="display:inline-block" class="ui-icon ui-icon-pencil"></span>
						<a href="@routes.Products.show(product.ean)">
							@product.ean - @product.name
						</a>
					</dt>
					<dd>@product.description</dd>
				</td>
				<td>
					&nbsp&nbsp&nbsp
					<a href="@routes.Products.delete(product.ean)" class="pure-button">Delete</a>
				</td>
			</tr>
		}
	</table>
	</dl>
	
	<a href="@routes.Products.showBlank()" class="pure-button">
		<span style="display:inline-block" class ="ui-icon ui-icon-plus"></span>New Product</a>
}